html, body {
  height: 100%;
  font-family:monospace;
  font-size: 10px;
}
body{
  padding: 0px 5rem 0px 5rem;
  margin: 0;
  color: white;
  background: url("../img/wood.jpg");
  background-repeat: repeat;
}

header {
  padding: 8rem;
  border-left: 5.5rem solid black;
  background: url("../img/bg_militar") repeat;
}

#cover {
  position: relative;
  width: 40.02rem;
  max-width: 402px;
  padding: 35px auto;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f5d9;
  border: 5px solid black;
}

#main-topic {
  width:34rem;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  position: absolute;
  top: -1.2rem;
  padding-left: 3.5rem;
  font-family: 'Love Ya Like A Sister', cursive;
}
#main-topic > h1{
  font-size: 6.5rem;
  margin-bottom: 0px;
}

#main-topic > h2{
  font-size: 3.5rem;
  margin-top: 6.5rem;
  margin-bottom: 0px;
}

#main-topic > h3{
  text-align: center;
  font-size: 8.5rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

#alert {
  display: inline-block;
  position: absolute;
  top: 11.6rem;
  left: 3rem;
  background-color: #c42e29;
  border-radius: 12px;
  /* border: 1px solid white; */
  outline: 2px solid black;
  outline-offset: -0.8rem;
  transform: rotate(-6deg);
}

#alert p {
  font-family: 'Cutive Mono', monospace;
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem;
  color: white;
}

#guide-to {
  position: relative;
  width: 55rem;
  max-width: 600px;
  margin: 14.4rem auto;
  padding: 1rem;
  border: 5px solid black;
}

#guide-to li {
  text-align: center;
  text-indent: 0px;
  font-family: 'Gochi Hand', cursive;
}
#guide-to li.alt {
  font-size: 6.4rem;
  padding: 0px;
  padding-top: 0.5rem;
}

/* Notebook effect credits:
  https://css-tricks.com/how-to-create-a-notebook-design-with-css/
 */

.list {
  width: 100%;
  margin: 0px;
  color: #555;
  background-color: #f7f5d9;
  font-size: 2.1rem;
  padding: 0 !important;
  font-family: courier, monospace;
  border: 1px solid #dedede;

}

.list li {
  list-style: none;
  border-bottom: 1px dotted #7decf2;
  text-indent: 25px;
  height: auto;
  padding: 2rem;
  position: relative;
  text-transform: capitalize;
}

.list span {
  position: absolute;
}

.list span.title {
  z-index: 1;
  font-family: 'Gochi Hand', cursive;
  text-transform: lowercase;
  font-size: 8rem;
  position: absolute;
  text-indent: 2rem;
  text-decoration: underline;
}

.list li.highlight {
  font-weight: bold;
}

.list li:first-child {
  padding: 6rem;
}

.list li:last-child {
  opacity: 0;
}

.list li:last-child {
  opacity: 0;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  margin-left: 5.2rem;
}

.page {
  height: 544rem;
}

.invisible {
  opacity: 0;
  margin-bottom: 1.2rem;
}

.br-radius-25 {
  border-radius: 25px;
}

.bg-white {
  background-color: white;
}

.br-black {
  border: 2px solid black !important;
}

.color-blue {
  color: blue;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.t-lower {
  text-transform: lowercase !important;
}

a {
  text-decoration: none;
}

#arrow {
  z-index: 1;
  left: 65rem;
  top: -2rem;
}

#arrow img {
  transform: rotate(30deg);
  height: 14rem;
  opacity: 0.85;
}

#math {
  left: 25rem;
  top: 2rem;
}

#math img {
  opacity: 0.8;
  height: 10rem;
}

#location {
  left: 33rem;
  top: 1rem;
}

#location img {
  height: 5rem;
}

#airplane {
  left: 54rem;
  top: -9rem;
}

#airplane img {
  height: 32rem;
}

#end {
  z-index: 1;
}

#end img {
  height: 20rem;
}

#idea {
  z-index: 1;
}

#idea img {
  transform: rotate(30deg);
  height: 20rem;
  opacity: 0.85;
}
#graff {
  z-index: 1;
  top: -0.8rem;
  left: 0rem;
}

#graff img {
  height: 37rem;
}

#draw {
  z-index: 1;
  top: -8.8rem;
  left: 3rem;
}

#draw img {
  height: 15rem;
}

#people {
  z-index: 1;
  top: -7.3rem;
  left: 37rem;
}

#people img {
  height: 15rem;
}

#hands {
  z-index: 1;
  top: -2.3rem;
  left: 51rem;
}

#hands img {
  height: 21rem;
  opacity: 0.85;
}

#sun {
  z-index: 1;
  top: -2.3rem;
  left: 51rem;
}

#sun img {
  height: 21rem;
  opacity: 0.85;
}

#pig {
  z-index: 1;
  top: -10.3rem;
  left: 51rem;
}

#pig img {
  height: 21rem;
  opacity: 0.85;
}
